<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-autowire="no" default-init-method="init" default-destroy-method="destroy">

    <import resource="classpath:spring-analyticsContext.xml"/>

    <bean class="com.staleylabs.query.DatabaseQueryPlugin"/>

    <bean id="applicationQueryService" class="com.staleylabs.query.service.QueryService">
        <constructor-arg ref="applicationExecutionDao"/>
    </bean>

    <bean id="analyticsQueryService" class="com.staleylabs.query.service.QueryService">
        <constructor-arg ref="analyticsExecutionDao"/>
    </bean>

    <bean id="applicationExecutionDao" class="com.staleylabs.query.dao.QueryExecutionDao">
        <property name="dataSource">
            <util:property-path path="dataSourceFactory.dataSource"/>
        </property>
    </bean>

    <bean id="analyticsExecutionDao" class="com.staleylabs.query.dao.QueryExecutionDao">
        <property name="dataSource" ref="analyticsDataSource"/>
    </bean>

    <bean class="com.staleylabs.query.action.query.impl.RunApplicationQueryActionImpl">
        <property name="csvBuildService" ref="csvBuildService"/>
        <property name="applicationQueryService" ref="applicationQueryService"/>
    </bean>

    <bean class="com.staleylabs.query.action.query.impl.RunAnalyticsQueryActionImpl">
        <property name="csvBuildService" ref="csvBuildService"/>
        <property name="analyticsQueryService" ref="analyticsQueryService"/>
    </bean>

    <bean id="csvBuildService" class="com.staleylabs.query.service.CsvBuildService"/>
</beans>
