<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-autowire="no" default-init-method="init" default-destroy-method="destroy">

    <import resource="classpath:spring-analyticsContext.xml" />
    <import resource="classpath:/com/jivesoftware/community/eae/spring-eaeContext.xml" />

    <bean class="com.jivesoftware.plugin.dbQuery.DatabaseQueryPlugin"/>

    <bean id="applicationExecutionDao" class="com.jivesoftware.plugin.dbQuery.dao.impl.ApplicationExecutionDaoImpl">
        <property name="dataSource">
            <util:property-path path="dataSourceFactory.dataSource" />
        </property>
    </bean>

    <bean id="analyticsExecutionDao" class="com.jivesoftware.plugin.dbQuery.dao.impl.AnalyticsExecutionDaoImpl">
        <property name="dataSource" ref="analyticsDataSource"/>
    </bean>

    <bean id="csvBuildService" class="com.jivesoftware.plugin.dbQuery.service.CsvBuildService" />

    <bean id="formatService" class="com.jivesoftware.plugin.dbQuery.service.QueryFormatService" />

    <bean id="validationService" class="com.jivesoftware.plugin.dbQuery.service.QueryValidationService" />

</beans>
